{% extends 'layout.html' %}

{% block css %}

    <style>
        .lg {
            border: none;
            background: none;
        }
    </style>

{% endblock %}


{% block login %}
    <li>
        <a href="/pm/home1">返回</a>
    </li>
    <li>
        {#        <button href="pm/add/" id="sign_up" class="lg">注册</button>#}
        <a href="/pm/add/" id="sign_up">注册</a>
    </li>
{% endblock %}

{% block content %}

    {# 添加面板 #}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-list" aria-hidden="true"
                                             style="margin-right: 10px"></span>新建
            </div>
            <form class="form-horizontal" style="padding: 40px" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                {% for filed in form %}
                    <div class="form-group">

                        <label>{{ filed.label }}</label>
                        {{ filed }}
                        <span style="color:red">{{ filed.errors.0 }}</span>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-default">添加</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

{% endblock %}
